/* Styles globaux */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

main {
    background-color: #EEE;
}
  
body {
    font-family: 'Nunito Sans', sans-serif !important;
    overflow-x: hidden;
}
  
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600 !important; 
}
  
body, p, span, div, a, li {
    font-weight: 400 !important;
}
  
strong {
    color: black;
}

/* Home */
.home .background {
    background: url(./assets/images/hero-bg.jpg) no-repeat center center;
    height: 100vh;
}
  
.home .background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.home h1 {
    font-size: 5rem !important;
}
  
.home button {
    color: #0d6efd !important;
}
  
.home h3, .home h4 {
    color: #1e1e1e;
}
  
.home h3 {
    border-bottom-width: 3px !important;
}
  
.home p, .home li {
    color: #444;
}

/* Services */
.services img {
    height: 25vh;
}
  
.services h1, .services h2 {
    color: #1e1e1e;
}
  
.services p {
    color: #444;
}
  
.services .underline {
    width: 200px;
    height: 4px;
    background-color: #0d6efd;
}

/* Réalisations */
.portfolio .banner {
    height: 25vh;
}
  
.portfolio h1, .portfolio h2 {
    color: #1e1e1e;
}
  
.portfolio p {
    color: #444;
}
  
.portfolio .underline {
    width: 200px;
    height: 4px;
    background-color: #0d6efd;
}

/* Blog */
.blog .banner {
    width: 100%;
    height: 25vh;
}
  
.blog .underline {
    width: 200px;
    height: 4px;
    background-color: blue;
}

/* Contact */
.contact {
    background: url(./assets/images/contact-bg.jpg) no-repeat center center/cover;
    min-height: 100vh;
}
  
.contact .overlay {
    background-color: rgba(0, 105, 255, 0.5);
}
  
.contact .underline {
    height: 4px;
    background-color: blue;
}
  
.contact .underline2 {
    height: 3px;
    background-color: blue;
}
  
.content-box {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mentions Légales */
.mentions-legales .underline {
    height: 4px;
    width: 300px;
    background-color: blue;
}
  
.accordion-button:not(.collapsed) {
    color: blue !important; 
}

/* footer */
footer .list-unstyled li::before {
    content: "> ";
    color: #0d6efd ; 
    margin-right: 5px; 
}